/* Empty. Add your own CSS if you like */

.logo {
    text-align: center;
    color: #666161;
    margin-top: 33px !important;
    font-weight: bold;
}

.list label {
    border-top: none;
    border-left: none;
    border-right: none;
}

#centeringDiv {
    height: 100%;
    width: 100%;
    display: flex;
}

.bar-dark {
    background-color: rgb(0, 0, 0) !important;
}

.popup .button {
    font-size: 10px;
}


/*.relief {
  background-color: #3a50d9;
  color: #e0eff2;
  text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
}
*/

.Preview {
    border: none;
    position: absolute;
    right: 13px;
    /*text-decoration: underline;*/
    font-weight: bold;
}

#mainForm {
    margin: auto;
    width: 100%;
    margin-top: 143px;
}

.container {
    width: auto;
    margin: 2px auto 0 auto;
}

.pwCanvasPaint canvas:first-child {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -1px -1px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -1px -1px 4px rgba(0, 0, 0, 0.1);
}

.pwColorSelector {
    list-style: none;
}

.pwColor {
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border: 2px solid transparent;
}

.pwColor.active {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2);
}

.lineWidthSelector {
    width: 100%;
}

.undo {
    margin-top: 20px;
}

.undo > button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
}

.undo > button[disabled] {
    background-color: #aaa;
}

.twColor {
    color: #fff !important;
}

i {
    color: rgb(41, 113, 158) !important;
}

.twBackground {
    background-color: rgb(41, 113, 158) !important;
}

.loginButton {
    position: absolute;
    width: 100%;
    bottom: -9px;
}

.white {
    color: #fff;
}

.button:hover {
    color: #fff;
}

.font23 {
    font-size: 23px;
}

.title {
    text-align: left !important;
}

.homeButton {
    background: #e2e5e8;
    border: 1px solid rgba(0, 132, 180, .8);
    border-radius: 29px;
    color: rgba(0, 132, 180, .8);
    margin-top: 67px !important;
}

.homeButton:hover {
    color: rgba(0, 132, 180, .8);
}

ion-content {
    /* background: url(../img/bg.png);*/
    background-repeat: no-repeat;
    background-size: cover;
}

.item-content {
    border-bottom: 1px solid #eadfdf !important;
}

.transparent {
    background: transparent !important;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.fullscreen-image {
    max-width: 76%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}


/* Fix modal backdrop for smaller devices */

@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .5;
    }
    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0;
    }
}

.loading-container .loading {
    padding: 20px;
    border-radius: 5px;
    background-color: #86888a;
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 15px;
}

.spinner {
    stroke: #0c60ee;
}


/* latin */

@font-face {
    font-family: 'Sofia';
    font-style: normal;
    font-weight: 400;
    src: local('Sofia'), local('Sofia-Regular'), url(f2JBzUtFBEg-kZNlFQ7f-Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.card,
.list-inset {
    overflow: hidden;
    margin: 20px 10px;
    border-radius: 2px;
    background-color: transparent;
}

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated {
    border-color: #a0a0a0 !important;
    color: rgb(41, 113, 158) !important;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: rgb(41, 113, 158);
}

.action-sheet-group .button:first-child:last-child {
    border-width: 0;
    color: red;
}

.bar-light {
    box-shadow: none;
}

.image-list-thumb {
    border: 2px solid #fff;
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.transparent {
    background: rgba(0, 0, 0, 0.7);
}

.slider {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}

.loading span {
    vertical-align: super;
}

.action-sheet .button.destructive {
    color: green;
}

.action-sheet .button.destructive:hover {
    color: green;
}

.green {
    color: green;
}

.m-t-43 {
    margin-top: 43px;
}

.title-left,
.title-right,
.title.title-left,
.title.title-right {
    left: 3px;
}

.list a.item {
    border: 1px solid #eadfdf;
}

.list div.item {
    border: 1px solid #eadfdf;
}

.list li.item {
    border: 1px solid #eadfdf;
}

.item-icon-left .icon {
    left: 7px;
}

.Profileimage {
    position: relative;
    background: linear-gradient(rgb(252, 238, 33), rgb(255, 255, 255));
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.Profileimage:after {
    position: absolute;
    display: block;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    content: "";
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.footer-bar {
    position: fixed;
    width: 100%;
    font-size: 12px;
    bottom: 46px;
}

@font-face {
    font-family: impact;
    src: url(font/impact/impact.ttf);
}

.footer-bar .button.activated {
    color: blue;
}

.footer-bar .button:hover {
    color: blue;
}

.mfb-component--br {
    margin-bottom: 62px !important;
}

.mfb-component__button--main,
.mfb-component__button--child {
    background-color: #0D47A1 !important;
}

.mfb-component__button--main i,
.mfb-component__button--child i {
    color: #fff !important;
}
