    <ion-view view-title="Action" has-header="true" class="has-header">
      <ion-content class="padding">
        <br><br>
        <a class="item" style="padding: 8px; border:none;">
          <ion-scroll direction="x">
            <img ng-repeat="image in MulImage track by $index" ng-src="{{image}}" ng-click="showImages($index, image)" class="image-list-thumb" />
             <canvas ng-repeat="image in MulImage track by $index" id="{{'image'+$index}}" style="display: none;"></canvas>
          </ion-scroll>
        </a>

        <form name="twForm">
            <div style="    height: 15px;
    margin-left: 16px;">
                <p style="color:red;" ng-show="twForm.tw.$invalid">Tweet should not exceed then 140 character</p>
            </div>
            <div class="list">
                <label class="item item-input">
                    <textarea type="text" ng-model="view.textOverlay" placeholder="Enter description" style="background:transparent;" class="twColor" name="tw" ng-maxlength="140"></textarea>
                </label>
            </div>
            <div class="row">
                <button ng-click="share()" class="button button-full button-positive" ng-disabled="twForm.tw.$invalid">
                    Share
                </button>
            </div>
        </form>
      </ion-content>   
</ion-view>
